version: '3.8'
services:
  api:
    build:
    ports:
      - "8080:8080"
    depends_on:
      - neo4j

  neo4j:
    image: neo4j:5
    environment:
      - NEO4J_AUTH=${AUTH_NEO4J}
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data